        @import "compass/css3";
        @import url('https://fonts.googleapis.com/css?family=Open+Sans');
        @import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
        @import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");      
        
        
        .navAdmin ul li a {
          cursor: pointer;
          text-decoration: none;
        }
        
        .navAdmin ul {
          list-style: none;
        }
        
        .navAdmin{
            margin: 9px;
        }
     
       .navAdmin header span {
          position: relative;
          display: inline-block;
          width: 36px;
          height: 36px;
          margin: 0 10px 0 0;
          vertical-align: middle;
          border: 1px solid #fff;
        }

        .navAdmin header span:before {
          content: '\f007';
          font: normal 20px fontawesome;
          top: 7px;
          left: 9px;
        }

        .navAdmin header a:before {
          content: '\f08b';
          font: normal 20px fontawesome;
          top: 28px;
          right: 15px;
        }

        .navAdmin ul span {
          display: block;
          padding: 15px;
          color: rgba(255,255,255,.5);
          text-transform: uppercase;
         
        }

        .navAdmin ul a {
          position: relative;
          display: block;
          padding: 15px 15px 17px 50px;
          color: #fff;
          text-decoration: none;
        }

        .navAdmin ul a:hover,
        nav ul a.active {
          background:#333;
        }

        .navAdmin ul a:before {
          font: normal 16px fontawesome;
          top: 15px;
          left: 18px;
          text-decoration: none;
        }

        .navAdmin ul li:nth-child(2) a:before { content: url(images/garden.png); }
        .navAdmin ul li:nth-child(3) a:before { content: url(images/inbox.png); }
        .navAdmin ul li:nth-child(4) a:before { content: url('images/product.png'); }
        .navAdmin ul li:nth-child(5) a:before { content: "\f044"; }
        .navAdmin ul li:nth-child(6) a:before { content: url('images/boxes.png'); }
        .navAdmin ul li:nth-child(7) a:before { content: url('images/help.png'); }
        .navAdmin ul li:nth-child(8) a:before { content: url('images/logout.png'); }
        
       