 @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
            body{
            background-image: url("loginBg.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
          }
         
            .change{
                margin:50px auto 40px auto;
                border: 4px solid;
                border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66));
                border-image-slice: 1;
                width:400px;
                height:50%;
                background-image: url("adminBg.png");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
           
            .signInLogo{
                margin : 20px auto 20px auto;
                box-sizing: border-box;
                width:160px;
            }
            .signInLogo img{
                width:100%;
            }

            table{    
                margin-right: auto;
                margin-left: auto;
            }
            table a{
                 text-decoration: none;
                 color: blue;
                 font-size: 1em;
            }
            label{
                font-size: 1em;
            }

            input[type=text],input[type=email],input[type=password]{
                 width: 100%;
                 padding: 5px 15px;
                 margin: 4px 0;
                 display: inline-block;
                 border: 1px solid #ccc;
                 border-radius: 4px;
                 box-sizing: border-box; 
                
            }
            input[type=radio]{
                font-size: 1.1em;
            }
            input:focus{
                 border: 3px solid rgb(102, 255, 255);
            }
       
            input[type="submit"]{
             border-radius: 3px;
             padding: 10px;
             margin: 5px 5px 5px 0px;
            }
            input[type="submit"]{

              background-color:#093579;
              color: white;
            }

           input[type='submit']:hover{

             background-color:rgb(134, 7, 7);
            }
       
           @media only screen and (max-width: 640px){
              .beMember{
                  margin:10px;
              }      
          } 
          
          .error{
              font-style:normal;
              font-size: 16px;
              margin:10px;
          }
          .box{
                border:1px solid black;
                border-radius: 8px;
                width:500px;
                display: block;
                background: linear-gradient(90deg, rgba(247,197,219,1) 0%, rgba(255,255,255,1) 100%);
                 box-shadow: 3px 6px 13px #e32525;
                margin-left: auto;
                margin-right: auto;
          }
          .change:hover{
               transform: scale(1.02);
               border-radius: 10px;
               transition-duration: 0.4s;
          }
          
          #success{
              margin-top:25px;
              padding:15px;
              border:2px solid black;
              border-radius: 5px;
              width:65%;
              height:250px;
              color:green;
              text-align: center;   
              background-color: white;
          }
          .error2{
              margin-top:25px;
              padding:15px;
              border:2px solid black;
              border-radius: 5px;
              width:65%;
              height:250px;
              color:red;
              text-align: center;   
              background-color: white;
              margin-left: 260px;
              font-style:normal;
          }
